.tptn_posts_daily ul, .tptn_posts ul {
	margin:0 !important;
	padding:0 !important;
}

.tptn_posts_daily ul li, .tptn_posts ul li {
	clear:both;
	list-style:none;
	margin-bottom:15px;
	display:block;
	background: none;
	padding:0 !important;
        border-bottom: 1px solid #eee;

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.tptn_posts_daily ul li:hover, .tptn_posts ul li:hover {
  -webkit-filter: brightness(105%);
}

.tptn_posts_daily ul:after, .tptn_posts ul:after, .tptn_posts_daily ul li:after, .tptn_posts ul li:after {
	content:'';
	display:table;
	clear: both;
}

.tptn_posts_daily .tptn_title, .tptn_posts .tptn_title {
	font-weight:normal;
	display:block;
	padding-bottom:5px;
	text-decoration:none;
	line-height: 1.3em;
}

img.tptn_thumb {
	display:block;
	float:left;
	clear:left;
	margin-right:5px !important;
	padding-bottom:5px !important;
	vertical-align: bottom;
}

img.tptn_thumb:after {
	content: ' ';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -1px;
	left: -1px;
      font-size: 0.9em;
      font-color: #eee;	
}

.tptn_excerpt {
	display: block;
}